{% extends 'base.html' %}

{% block page_select %}
<option data-url="/explorer/">--Explore--</option>
{% endblock page_select %}


{% block content %}
<body id="content">
    
    <div class="centered">
        <p class="welcome-text" id="welcome_text">Welcome to Explore!</p>

        <p>What would you like to see today?</p>

        <p><a href="/explorer/records">My Expenses</a></p>
        <p><a href="/explorer/reports">Monthly Reports</a></p>
        <p><a href="/explorer/graphs">Infographics</a></p>
        <p><a href="/explorer/trends">My Trends</a></p>
        <p><a href="/explorer/progress">My Goal Progress</a></p>



        <br><br>

        {% for report in expense_list %}
        <table id="report_{{report.month}}_{{report.year}}" class="center_table">
            <caption style="font-weight: bold; text-decoration: underline; padding-bottom: .5em;">{{report.month_string}} {{report.year}}</caption>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Budget</th>
                    <th>Expenses</th>
                    <th>Variance</th>
                </tr>
            </thead>
            <tbody>
                {% for datum in report.data %}
                <tr>
                    <td>{{datum.category_display}}</td>
                    <td>{{datum.budget_amount}}</td>
                    <td>{{datum.subtotal}}</td>
                    <td><div style="color: {{datum.diff_color}};">{{datum.diff}}</div></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>Income:</b></td>
                    <td><b>{{report.income.budget_amount}}</b></td>
                    <td><b>{{report.income.subtotal}}</b></td>
                    <td><div style="color: {{report.income.diff_color}};"><b>{{report.income.diff}}</b></div></td>
                </tr>
                <tr>
                    <td><b>Total Expenses:</b></td>
                    <td><b>{{total_budget}}</b></td>
                    <td><b>{{report.total_expenses}}</b></td>
                    <td><div style="color: {{report.diff_color}};"><b>{{report.total_diff}}</b></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Monthly Balance:</b></td>
                    <td><b>{{report.balance}}</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br><br>
        {% endfor %}






    </div>
</body>
{% endblock content %}
