{% extends 'base.html' %}

{% block page_select %}
<option data-url="/explorer/">--Explore--</option>
{% endblock page_select %}


{% block content %}
<body id="content">
    
    <div class="centered">
        <p class="welcome-text" id="welcome_text">Welcome to Explore!</p>

        <p>What would you like to see today?</p>

        <p><a href="/explorer/records">My Expenses</a></p>
        <p><a href="/explorer/reports">Monthly Reports</a></p>
        <p><a href="/explorer/graphs">Infographics</a></p>
        <p><a href="/explorer/trends">My Trends</a></p>
        <p><a href="/explorer/progress">My Goal Progress</a></p>



        <br><br>

        {% for report in expense_list %}
        <table id="report_{{report.month}}_{{report.year}}" class="center_table">
            <caption>Totals spent in {{report.month}}, {{report.year}}</caption>
            <thead>
                <tr>
                    <th>Budget</th>
                    <th>Expenses</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in report.data.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total:</td>
                    <td>{{report.total_expenses}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        {% endfor %}






    </div>
</body>
{% endblock content %}
