{% block budget_select %}

    <option value="None">None</option>

    {% for budget in budgets %}
    <option value="{{budget.budget_id}}">{{budget.category_display}}</option>
    {% endfor %}


{% endblock %}




{% block record %}
<tr id="record_{{ record.transaction_id}}">
    <td><button hx-post="/explorer/record/{{ record.transaction_id }}" hx-target="#record_{{ record.transaction_id }}" hx-swap="outerHTML" hx-include="#record_{{ record.transaction_id}}">Save</button></td>
    <td>{{ record.transaction_date }}</td>
    <td>
            <select name="budget_selector">
                    <option value="{{record.budget_id}}">{{category_name}}</option>
                    {{ budget_select }}
            </select>
    </td>
    <td>{{ record.amount }}</td>
    <td>{{ record.transaction_description }}</td>
    <td>{{ record.account_nickname }}</td>
    <td>{{ record.recurring }}</td>
    <td>{{ record.note }}</td>
</tr>

{% endblock %}



{% block record_table %}
<table class="center_table" id="record_table">
    <caption>RECORDS: {{query_string}}</caption>
    <thead>
            <tr>
                    <th>Edit all?</th>
                    <th>Date</th>
                    <th>Budget</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Account</th>
                    <th>Recurring</th>
                    <th>Note</th>

            </tr>
            {% for record in records %}
            <tr id="record_{{ record.transaction_id}}">
                    <td><button
                            hx-post="/explorer/record/{{ record.transaction_id }}"
                            hx-target="#record_{{ record.transaction_id }}"
                            hx-swap="outerHTML"
                            hx-include="#record_{{ record.transaction_id}}"
                            >Save
                    </button></td>
                    <td>{{ record.transaction_date }}</td>
                    <td>
                            <select name="budget_selector">
                                    <option value="{{record.budget_id}}">{{record.category_display}}</option>
                                    {{ budget_select }}
                            </select>
                    </td>
                    <td>{{ record.amount }}</td>
                    <td>{{ record.transaction_description }}</td>
                    <td>{{ record.account_nickname }}</td>
                    <td>{{ record.recurring }}</td>
                    <td>{{ record.note }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No records match your current query.</td>
            </tr>
            {% endfor %}
    </thead>
</table>
{% endblock %}