{% extends 'base.html' %}

{% block page_select %}
<option data-url="/explorer/">--Explore: Records--</option>
{% endblock page_select %}


{% block content %}
<body id="content">    
<div class="centered">
        <p class="welcome-text" id="welcome_text">Welcome to Explore!</p>

        <p>What would you like to see today?</p>

        <p><a href="/explorer/records">My Expenses</a></p>
        <p><a href="/explorer/reports">Monthly Reports</a></p>
        <p><a href="/explorer/graphs">Infographics</a></p>
        <p><a href="/explorer/trends">My Trends</a></p>
        <p><a href="/explorer/progress">My Goal Progress</a></p>

        <br>
        <h3>Filters</h3>
        <div id="filter_form">
        <form id="records_query1">
                <label for name="year">Year:</label>
                        <select name="year">
                                <option value="all">All</option>
                                <option value="{{dates.current_year}}">Current</option>
                                <option value="{{dates.previous_year}}">Previous</option>
                                {% for year in dates.years %}
                                        <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                        </select>
                <label for name="month">Month:</label>
                        <select name="month">
                                <option value="all">All</option>
                                <option value="{{dates.previous_month}}">Previous</option>
                                <option value="{{dates.current_month}}">Current</option>
                                <option value="three">Prev Three</option>
                                <option value="01">01-January</option>
                                <option value="02">02-February</option>
                                <option value="03">03-March</option>
                                <option value="04">04-April</option>
                                <option value="05">05-May</option>
                                <option value="06">06-June</option>
                                <option value="07">07-July</option>
                                <option value="08">08-August</option>
                                <option value="09">09-September</option>
                                <option value="10">10-October</option>
                                <option value="11">11-November</option>
                                <option value="12">12-December</option>
                        </select>
                <label for name="category_select">Budget Category:</label>
                        <select name="category_select">
                                <option value="all">All</option>
                                <option value="uncategorized">Uncategorized</option>
                                {% for option in options %}
                                <option value="{{option.category_name}}">{{option.category_display}}</option>
                                {% endfor %}
                        </select>
                <button hx-post="/explorer/query1/" hx-target="#record_table" hx-swap="outerHTML" hx-include="#records_query1">Search</button>
        </form>
        <br>
        <button hx-get="/explorer/filter_form/2" hx-swap="outerHTML" hx-target="#filter_form">Filter by Custom Dates</button>

        </div>


        <br><br>
        <table class="center_table" id="record_table">
                <caption>RECORDS: <div id="date_query">{{query_string}}</div></caption>
                <thead>
                        <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Account</th>
                                <th>Recurring</th>
                                <th>Note</th>
                                <th>Category</th>
                                <th>Edit</th>
                        </tr>
                </thead>
                <tbody>
                        {% for record in records %}
                        <tr id="record_{{ record.transaction_id}}">
                                <td>{{ record.transaction_date }}</td>
                                <td>{{ record.amount }}</td>
                                <td>{{ record.transaction_description }}</td>
                                <td>{{ record.account__nickname }}</td>
                                <td>{{ record.recurring }}</td>
                                <td>{{ record.note }}</td>
                                <td>{{record.budget__category_display}}<img id="record_{{ record.transaction_id}}_loading" class="htmx-indicator" src="/static/loading.svg"></td>
                                <td>
                                        <select name="category_name" hx-trigger="change" hx-post="/explorer/record/{{ record.transaction_id }}" hx-target="#record_{{ record.transaction_id }}" hx-swap="outerHTML" hx-include="#record_{{ record.transaction_id}}" hx-indicator="#record_{{ record.transaction_id}}_loading">
                                                <option value="{{record.budget__category_name}}">{{record.budget__category_display}}</option>
                                                <option value="None">None</option>
                                                {% for option in options %}
                                                <option value="{{option.category_name}}">{{option.category_display}}</option>
                                                {% endfor %}
                                        </select>
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>






</div>
</body>
{% endblock content %}
