{% extends 'base.html' %}


{% block content %}

<body id="content">
    <div class="centered">
        <h1 class="title">Sum's Sums</h1>
        <div>A budgeting app by Summussum Development</div>
        <br><br><br>
        <div class="welcome-text" id="welcome_text">Welcome to this brand spanking new website dedicated to manage
            budgets and expenses!</div>
        <br><br>
        <button hx-get="/login/login/" hx-target="#userform" hx-swap="outerHTML">Login</button>
        <button hx-get="/login/register/" hx-target="#userform" hx-swap="outerHTML">Register</button>
        <div id="userform">Login:<br>
            <form hx-post="/login_submit/" hx-target="#welcome_text" hx-swap="outerHTML">
                {% csrf_token %}
                <label for name="username">Username: </label>
                <input type="text" id="username" name="user_name"><br>
                <label for name="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Log In">

            </form>
        </div>
    </div>
</body>
{% endblock %}