{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sum's Sums</title>
        <script src="{% static 'htmx.min.js' %}" defer></script>
        <style>
            h1 {text-align: center;}
            h2 {text-align: center; font-size:18px;}
            .centered {text-align: center;}
        </style>
    </head>

<body id="content" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'></body>
    <div class="centered">
        <h1 class="title">Sum's Sums</h1>
        <div>A budgeting app by Summussum Development</div>
        <br><br><br>
        <div class="welcome-text" id="welcome_text">Welcome to this brand spanking new website dedicated to manage
            budgets and expenses!</div>
        <br><br>
        <div id="userform">Login:<br>
            <form hx-post="/login_submit/" hx-target="#welcome_text" hx-swap="outerHTML">
                {% csrf_token %}
                <label for name="username">Username: </label>
                <input type="text" id="username" name="user_name"><br>
                <label for name="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Log In">
            </form>
            <br><br>
            <button hx-get="/login/register/" hx-target="#userform" hx-swap="outerHTML">Create new account</button>
        </div>
    </div>
</body>
</html>