{% block registered %}
<div class="welcome_text" id="welcome_text">Congratulations, {{ user.username }}. You have successfully been registered!<br>
    Please log in to begin your financial journey.
</div><br><br>
{% endblock %}


{% block nonregistered %}
<div class="welcome_text" id="welcome_text">Oh no! There seems to have been an error with your registration.<br>
    Please try again.
</div><br><br>
{% endblock %}


{% block nonlogin %}
<div class="welcome_text" id="welcome_text">Oh no! There seems to be an issue with your login.<br>
    Please try again.
</div><br><br>
{% endblock %}