{% extends 'base.html' %}

{% block page_select %}
<option data-url="/chronicle/">--Chronicle--</option>
{% endblock page_select %}


{% block content %}
<body id="content">
    
    <div class="centered">
       {% for entry in unclassified %}
            <p>{{entry.amount}}   {{entry.transaction_description}}</p>
       {% endfor %}

    <br>
       {% for option in options %}
        <button value="{{option.category_name}}">{{option.category_display}}</button>
       {% endfor %}
    </div>


</body>
{% endblock content %}
