{% extends 'base.html' %}

{% block page_select %}
<option data-url="/chronicler/">--Chronicle--</option>
{% endblock page_select %}


{% block content %}
<body id="content">
    
   <div class="centered" id="chronicle">
        <h3 class="centered">Chronicle</h3>
        <p>Select a budget category below to assign the following entry:</p>
        <table class="center_table">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Account</th>
                <th>Recurring</th>
                <th>Note</th>
                <th>Category</th>
            </tr>
            <tr id="chronicle_target">
                <td>{{target.transaction_date}}</td>
                <td>{{target.amount}}</td>
                <td>{{target.transaction_description}}</td>
                <td>{{target.account__nickname}}</td>
                <td>{{target.recurring}}</td>
                <td>{{target.note}}</td>
                <td><img id="budget_assign_loading" class="htmx-indicator" src="/static/loading.svg"></td>
            </tr>
        </table>

        <br>
        {% for option in options %}
            <button
                hx-post="/chronicler/assign/"
                hx-target="#chronicle"
                hx-swap="outerHTML"
                value="{{option.category_name}}"
                name="category_name"
                hx-indicator="#budget_assign_loading"
            >{{option.category_display}}</button>
        {% empty %}
        <p>No budgets were found. Please visit <a href="/allocator/" htmx-indicator="#goto_allocator_loading">Allocate</a><img id="goto_allocator_loading" class="htmx-indicator" src="/static/loading.svg"></p>
        {% endfor %}
        <br>
        <h3>Assign Entry to New Budget</h3>
        <form hx-post="/chronicler/new_budget/" hx-target="#chronicle" hx-swap="outerHTML" hx-vals='{"transaction_id": }' hx-indicator="#new_budget_assign_loading">
            {% csrf_token %}
            <label for name="category_display">Category name:</label>
            <input type="text" name="category_display" placeholder="Savings"><br>
            <br>
            <label for name="amount">Amount to allocate: $</label>
            <input type="number" step=".01" name="amount" placeholder="50.00"><br><br>

            <input type="checkbox" name="annual">
            <label for name="annual"> Is this category tracked yearly instead of monthly?</label><br><br>
            <input type="submit" value="Submit">
            <img id="new_budget_assign_loading" class="htmx-indicator" src="/static/loading.svg">
        </form>
        <br>
        <h3 class="centered">Chronicle History</h3>
        <table class="center_table">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Account</th>
                <th>Recurring</th>
                <th>Note</th>
                <th>Category</th>
                <th>Edit</th>
            </tr>
            {% for entry in chronicle_history %}
            <tr id="id{{entry.transaction_id}}">
                <td>{{entry.transaction_date}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.transaction_description}}</td>
                <td>{{entry.account__nickname}}</td>
                <td>{{entry.recurring}}</td>
                <td>{{entry.note}}</td>
                <td>{{entry.category_name}}<img id="edit_{{entry.transaction_id}}_loading" class="htmx-indicator" src="/static/loading.svg"></td>
                <td>
                    <select name="category_name" hx-trigger="change" hx-post="/chronicler/edit/{{entry.transaction_id}}" hx-target="#id{{entry.transaction_id}}" hx-swap="outerHTML" hx-include="#id{{entry.transaction_id}}" hx-indicator="#edit_{{entry.transaction_id}}_loading">
                        <option value="{{entry.category_name}}">{{entry.category_name}}</option>
                        <option value="None">None</option>
                        {% for option in options %}
                            <option value="{{option.category_name}}">{{option.category_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr> 
            {% empty %}
            <tr>
                <td colspan="8"><div class="centered">Nothing yet chronicled in the current session</div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {{test}}



</body>
{% endblock content %}
