{% block chronicle %}
<div class="centered" id="chronicle">
    <table class="center_table">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Account</th>
            <th>Recurring</th>
            <th>Note</th>
            <th>Category</th>
        </tr>
        <tr id="chronicle_target">
            <td>{{target.transaction_date}}</td>
            <td>{{target.amount}}</td>
            <td>{{target.transaction_description}}</td>
            <td>{{target.recurring}}</td>
            <td>{{target.note}}</td>
            <td>{{target.budget_id}}</td>
        </tr>
    </table>

    <br>
    {% for option in options %}
        <button hx-post="/chronicler/assign/" value="{{option.category_name}}" hx-target="#chronicle" name="category_name">{{option.category_display}}</button>
    {% endfor %}
    <br>
    <table class="center_table">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Account</th>
            <th>Recurring</th>
            <th>Note</th>
            <th>Category</th>
        </tr>
        {% for entry in chronicle_history %}
            <tr id="{{entry.transaction_id}}">
                <td>{{entry.transaction_date}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.transaction_description}}</td>
                <td>{{entry.account_nickname}}</td>
                <td>{{entry.recurring}}</td>
                <td>{{entry.note}}</td>
                <td>{{entry.budget_id}}</td>
            </tr> 
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block complete %}
<div class="centered" id="chronicle">
    <h3>There are no more uncategorized transactions. Congratulations!</h3>
    <br>
    <p>If you wish to review current transactions, please check the <a href="/explorer/">Explorer</a> page.</p>    <br>
    <br><br>
    <table class="center_table">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Account</th>
            <th>Recurring</th>
            <th>Note</th>
            <th>Category</th>
        </tr>
        {% for entry in chronicle_history %}
            <tr id="{{entry.transaction_id}}">
                <td>{{entry.transaction_date}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.transaction_description}}</td>
                <td>{{entry.account_nickname}}</td>
                <td>{{entry.recurring}}</td>
                <td>{{entry.note}}</td>
                <td>{{entry.budget_id}}</td>
            </tr> 
        {% endfor %}
    </table>
</div>
{% endblock %}