{% block data %}
<tr id="{{item.category_name}}">
    <td><button hx-target="#{{item.category_name}}" hx-get="/allocator/{{item.category_name}}" hx-swap="outerHTML">Edit</button>
    </td>
    <td>{{ item.category_display }}</td>
    <td>${{ item.monthly_budget }}</td>
    <td>${{ item.annual_budget }}</td>
    <td><button hx-delete="/allocator/{{item.category_name}}" hx-target="#{{category_name}}">Delete</button></td>
</tr>
{% endblock %}


{% block editor %}

<div id="budget_editor">
    <form>{% csrf_token %}
        <input type="button" hx-get="/allocator/reset/{{category_name}}" hx-target="#budget_display" value="Cancel" hx-swap="outerHTML">
        <input type="text" name="category_display" value="{{category_display}}">
        <input type="text" name="amount" value="{{amount}}">
        <input type="checkbox" name="annual">
        <div> Annual expense</div>
        <input type="submit" hx-post="/allocator/{{category_name}}" hx-target="#budget_display" hx-swap="outerHTML">
    </form>
    <div id="name_in_use"></div>


{% endblock %}

{% block inline_editor %}

<tr id="{{item.category_name}}">
    <td><input type="button" hx-get="/allocator/reset/{{item.category_name}}" hx-target="#{{item.category_name}}" value="Cancel" hx-swap="outerHTML">
    </td>
    <td><input type="text" name="category_display" value="{{item.category_display}}"><div id="name_in_use"></div></td>
    <td><input type="text" name="amount" value="{{amount}}"></td>
    <td><input type="checkbox" name="annual"><div> Annual expense</div></td>
    <td><button hx-post="/allocator/{{item.category_name}}" hx-target="#{{item.category_name}}" hx-include="#{{item.category_name}}" hx-swap="outerHTML">Submit</button></td>
</tr>



{% endblock %}