<!DOCTYPE html>
<div id="budget_display">
    <div id="category_already_exists"></div>
    
    <div style="width:500;height:80">
        {{ graph_div|safe }}
    </div>

    <div id="budget_editor"></div>
    <table class="center_table">
        <thead>
            <tr>
                <th></th>
                <th>Category Name</th>
                <th>Budget Amount</th>
                <th>Yearly Budget</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in category_list %}
            <tr id="{{item.category_name}}">
                <td>
                    <button hx-target="#{{item.category_name}}" hx-get="/allocator/{{item.category_name}}" hx-swap="outerHTML" hx-indicator="#{{item.category_name}}_edit_loading">Edit</button>
                    <img id="{{item.category_name}}_edit_loading" class="htmx-indicator" src="/static/loading.svg">
                </td>
                <td>{{ item.category_display }}</td>
                <td>${{ item.budget_amount }}</td>
                <td>{{ item.annual_budget }}</td>
                <td>
                    <button hx-delete="/allocator/{{item.category_name}}" hx-target="#{{item.category_name}}" hx-swap="outerHTML" hx-indicator="#{{item.category_name}}_del_loading">Delete</button>
                    <img id="{{item.category_name}}_del_loading" class="htmx-indicator" src="/static/loading.svg">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>