<!DOCTYPE html>
<div id="budget_display">
    <div id="category_already_exists"></div>
    
    <div style="width:500;height:80">
        {{ graph_div|safe }}
    </div>

    <div id="budget_editor"></div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Category Name</th>
                <th>Monthly Budget</th>
                <th>Yearly Budget</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in category_list %}
            <tr id="{{item.category_name}}">
                <td><button hx-target="#budget_editor" hx-get="allocator/{{item.category_name}}" hx-swap="outerHTML">Edit</button></td>
                <td>{{ item.category_display }}</td>
                <td>{{ item.monthly_budget }}</td>
                <td>{{ item.annual_budget }}</td>
                <td><button hx-delete="allocator/{{item.category_name}}" hx-target="#{{item.category_name}}">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>