{% extends 'base.html' %}

{% block page_select %}
<option data-url="/allocator/">--Allocate--</option>
{% endblock page_select %}


{% block content %}

<body id="content">

    <div class="centered">
        <p class="welcome-text" id="welcome_text">Welcome to Allocate!</p>

        <form hx-post="/allocator/create_budget_category/" hx-target="#budget_display">
            {% csrf_token %}
            <label for name="category_display">Category name:</label>
            <input type="text" name="category_display" placeholder="Savings"><br>
            <br>
            <label for name="amount">Amount to allocate: $</label>
            <input type="number" step=".01" name="amount" placeholder="50.00"><br><br>

            <input type="checkbox" name="annual">
            <label for name="annual"> Is this category tracked yearly instead of monthly?</label><br><br>
            <input type="submit" value="Submit" hx-indicator="#create_budget_loading">
            <img id="create_budget_loading" class="htmx-indicator" src="/static/loading.svg">
        </form>
        <div id="error_message"></div>
        <br>
        <p>Click to load your current budgets:</p>
        <button hx-get="/allocator/display_active_budget/" hx-target="#budget_display" hx-swap="outerHTML" hx-indicator="#budget_display_loading">View Active
            Budget</button><img id="budget_display_loading" class="htmx-indicator" src="/static/loading.svg"><br>
            
        <div id="budget_display">
            
        </div>

    </div>


</body>
{% endblock content %}