{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="htmx-config"
        content='{"responseHandling":[
        {"code": "418", "swap": true},
        {"code": "200", "swap": true},
        {"code": "201", "swap": true},
        {"code": "301", "swap": true},
        {"code": "308", "swap": true},
        {"code": "...", "swap": false}
        ]}'
        />
        <title>Sum's Sums</title>
        <script src="{% static 'htmx.min.js' %}" defer></script>
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" >
        <style>
            h1 {text-align: center;}
            h2 {text-align: center; font-size:18px;}
            .centered {text-align: center;}
            .center_table {border: 1px solid; margin: 0px auto; border-collapse: collapse;}
            .center_table td, th {border: 1px solid}
            .htmx-indicator {height:1em; width: auto;}
        </style>
    </head>
<h2>Navigation:
    <select hx-on:change="htmx.ajax('GET', this.options[this.selectedIndex].dataset.url, '#content')" hx-push-url="true" style="align-self:center" hx-indicator="#navbar_loading">
        {% block page_select %}{% endblock page_select %}
        <option data-url="/">Dashboard</option>
        <option data-url="/allocator/">Allocate: Manage Budgets</option>
        <option data-url="/explorer/">Explore: Review Records</option>
        <option data-url="/chronicler/">Chronicle: Assign Records</option>
        <option data-url="/importer/">Import: Bank Statements</option>
        <option data-url="/explorer/graphs/">Edit: Manual Records</option>
    </select><img id="navbar_loading" class="htmx-indicator" src="/static/loading.svg">
        <input type="button" hx-get="/logout/" style="justify-self:end" value="Logout" hx-target="body">
    </h2>
<hr>
<body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
{% block content %}
{% endblock %}
</body>
</html>
