{% extends 'base.html' %}

{% block page_select %}
<option data-url="">--Dashboard--</option>
{% endblock page_select %}

{% block content %}
<body id="content">
    <div class="centered">
    <div class="welcome-text" id="welcome_text">Welcome back, {{ username }}. What do you want to do today? </div>
    
    <hr><br><br>
    
    <div>
        <button hx-get="/chronicler/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Chronicle</button>
        <p>Assign Transactions to Budget Categories</p>
        <hr><br>
        
        <button hx-get="/importer/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Import</button>
        <p>Load .csv files from your bank</p>
        <hr><br>
        
        <button hx-get="/allocator/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Allocate</button>
        <p>Create and Edit Budget Categories</p>
        <hr><br>
        
        <button hx-get="/explorer/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Explore</button>
        <p>Search and Review Records</p>
        <hr><br>
        
        <button hx-get="/allocator/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Edit</button>
        <p>Manually add Transactions</p>
        <hr><br>
        
        <button hx-get="/allocator/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Report</button>
        <p>Explore Reports, Graphs, and Projections for your spending habits</p>
        <hr><br>
    
    </div>
    </div>
</body>
{% endblock content %}