{% extends 'base.html' %}

{% block page_select %}
<option data-url="/allocator/">Import</option>
{% endblock page_select %}


{% block content %}
<body id="content">
    
    <div class="centered">
        <p class="welcome-text" id="welcome_text">Welcome to Import!</p>

        <form hx-post="/allocator/create_budget_category/" hx-target="#budget_display">
            {% csrf_token %}
            <label for name="load_file">Choose a file to upload:</label><br>
            <input type="file" name="load_file" id="load_file"><br>
            <input type="submit" value="Submit">
        </form>

    </div>


</body>
{% endblock content %}
