{% extends 'base.html' %}

{% block page_select %}
<option data-url="/importer/">--Import--</option>
{% endblock page_select %}


{% block content %}
<body id="content">
    
    <div class="centered">
        <p class="welcome-text" id="welcome_text">Welcome to Import!</p>

        <form hx-post="/importer/file_upload/" hx-target="#upload_result" method="post" hx-encoding="multipart/form-data" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- insert a selector for bank fieldnames here -->
            <label for name="load_file">Choose a file to upload:</label><br>
            <input type="file" name="load_file" id="load_file"><br>
            <input type="submit" value="Submit">
        </form>
        <div id="upload_result"></div>

    </div>


</body>
{% endblock content %}
