{% block success %}
    <div id="upload_result">Your file, {{ filename }}, has been successfully imported!</div>
    
    {% for account in accounts %}
    <div hx-swap-oob="beforeend:#account_selector">
        <option value="{{account.nickname}}">{{account.nickname}}</option>
    </div>
    {% endfor %}
    
{% endblock %}




{% block failed %}
<div id="upload_result">Sorry. Your file, could not be imported. Is this a valid bank statement csv?
    <br> {{ error }}<br>
</div>

{% endblock %}




