{% block success %}
<div id="upload_result">Your file, {{ filename }}, has been successfully imported!</div>

{% endblock %}




{% block failed %}
<div id="upload_result">Sorry. Your file, could not be imported. Is this a valid bank statement csv?
    <br> {{ error }}<br>
</div>

{% endblock %}




{% block account_options %}

<div id="account_options">
    <label for name="account_type">Account Type: </label>
    <input type="text" name="account_type" placeholder="Checking/Savings/Credit">
    <label for name="account_last_four">Account Number (last 4 digits):</label>
    <input type="text" name="account_last_four" maxlength="4" placeholder="0000">
</div>

{% endblock %}